.video-container {
  width: 1080px; /* Ancho del video */
  height: 1920px; /* Altura de la ventana de visualización */
  overflow-y: scroll;
  scrollbar-width: none; /* para Firefox */
  -ms-overflow-style: none; /* para Internet Explorer 10+ */
}

.video-container::-webkit-scrollbar {
  display: none; /* para Safari y Chrome */
}

video {
  display: block;
  max-width: 100%;
}

